body {
    background-color: rgb(208, 202, 118);
  }
  
#page_title {
    font-size: 72px;
    margin-bottom: 0pt;
}

#description {
    margin-top: 0pt;
}


 .score {
    font-family:'Franklin Gothic Medium';
    font-weight: bolder;
    font-size: 28px;
    color: black;
    outline-style: solid;
    width: 100px;
    display: inline-block;
 }

.beerphoto {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 600px;
}


h6 {
    border: 1rem solid;
    border-color: rgb(78, 71, 12);
}